In [4]:
# reading txt files
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

# Can open csv files as a dataframe
dframe = pd.read_csv('lec25.csv', sep = ',', header = None)

#Show
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
#### JSON
# Heres an example of what a JSON (JavaScript Object Notation) looks like:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

#Let import json module
import json

#Lets load json data
data = json.loads(json_obj)
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [7]:
#WE can also convert back to JSON
json.dumps(data)
#We can simply open JSON data after loading with a DataFrame
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

In [8]:
## pivot 
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

dframe

         date variable     value
0  2000-01-03        A -1.125499
1  2000-01-04        A -0.360627
2  2000-01-05        A  1.450421
3  2000-01-03        B  0.202971
4  2000-01-04        B  1.546971
5  2000-01-05        B -1.635760
6  2000-01-03        C  0.253375
7  2000-01-04        C  0.138710
8  2000-01-05        C -0.294097
9  2000-01-03        D  1.227036
10 2000-01-04        D  1.180505
11 2000-01-05        D  0.843517

In [9]:
# Now let's pivot the data

# First two value spassed are teh row and column indexes, then finally an optional fill value
dframe_piv = dframe.pivot('date','variable','value')

#Show
dframe_piv

variable           A         B         C         D
date
2000-01-03 -1.125499  0.202971  0.253375  1.227036
2000-01-04 -0.360627  1.546971  0.138710  1.180505
2000-01-05  1.450421 -1.635760 -0.294097  0.843517

In [5]:
# Let's create a quick data set
from io import StringIO

data ="""\
Sample   Animal   Intelligence
1        Dog     Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

#Store as dframe
dframe = pd.read_table(StringIO(data),sep='\s+')

In [6]:
# Now we can create a cross-tabulation table, which is basically just a frequency table
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6