In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

# Series is similar to numpy array but with index
obj = Series([3,6,9,12])
obj.values # values are array
obj.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
## create customize index
obj2 = Series ([1,2,3,4], index = ['a','b','c','d'])
obj2
obj2_dict = obj2.to_dict() # to dictionary
obj2_series = Series(obj2)
obj2_series

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
# check null
pd.isnull(obj2)

a    False
b    False
c    False
d    False
dtype: bool

In [11]:
# series can add 
obj2_series + obj

a   NaN
b   NaN
c   NaN
d   NaN
0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [7]:
########## Dataframe
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [10]:
#Copy and read to get data
nfl_frame = pd.read_clipboard()

In [11]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East

In [13]:
nfl_frame.columns
nfl_frame['Rank']

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: Rank, dtype: int64

In [15]:
# get new columns
DataFrame(nfl_frame, columns=['Team', 'Won','Lost'])

                      Team  Won  Lost
0           Dallas Cowboys  502   374
1        Green Bay Packers  737   562
2            Chicago Bears  749   579
3           Miami Dolphins  445   351
4  New England Patriots[b]  489   386
5        Minnesota Vikings  470   390
6         Baltimore Ravens  190   161
7          New York Giants  687   585

In [16]:
nfl_frame.head(2) # default is 5
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East

In [17]:
nfl_frame.ix[3]# index starts with 0

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [19]:
# add new column 
nfl_frame['new_col'] = 'A'
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,new_col
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,A
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,A
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,A
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,A
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,A
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,A
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North,A
7,8,New York Giants,687,585,33,0.539,1925,"1,305",NFC East,A

In [22]:
## create data frame from dictionary 
data = {'City':['SF','LA'], 'Pop': ['23','24']}
city = DataFrame(data)
city

  City Pop
0   SF  23
1   LA  24

In [25]:
# cannot index values
# re-index
from numpy.random import randn
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
#Show
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.221930  0.035278  0.168895 -0.594207  0.922484
B  1.115169 -1.632566  0.459607  0.283895 -0.219915
C       NaN       NaN       NaN       NaN       NaN
D  0.978547 -0.019905 -0.162399  0.073122 -0.281896
E  0.345028 -0.326555 -0.737373 -0.521871  0.387434
F  0.568896  1.243964  0.518555 -0.261650  0.501094

In [26]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.221930  0.035278  0.168895 -0.594207  0.922484   NaN
B  1.115169 -1.632566  0.459607  0.283895 -0.219915   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.978547 -0.019905 -0.162399  0.073122 -0.281896   NaN
E  0.345028 -0.326555 -0.737373 -0.521871  0.387434   NaN
F  0.568896  1.243964  0.518555 -0.261650  0.501094   NaN

In [27]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.221930  0.035278  0.168895 -0.594207  0.922484   NaN
B  1.115169 -1.632566  0.459607  0.283895 -0.219915   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.978547 -0.019905 -0.162399  0.073122 -0.281896   NaN
E  0.345028 -0.326555 -0.737373 -0.521871  0.387434   NaN
F  0.568896  1.243964  0.518555 -0.261650  0.501094   NaN

In [28]:
#With a DataFrame we can drop values from either axis
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])

#Show (remember just random values)
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [29]:
#Now dropping a row
dframe1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [30]:
### selecting columns
#Now let's see sleection in a DataFrame

dframe = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])
#Show
dframe
#Select by column name
dframe['B']

#Select by multiple columns
dframe[['B','E']]

#Can also use boolean
dframe[dframe['C']>8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [33]:
### order
#Sorting by index
ser1 = Series(range(3),index=['C','A','B'])

#show
ser1

#Now sort_index
ser1.sort_index()

#Can sort a Series by its values
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [34]:
from numpy.random import randn
ser2 = Series(randn(10))

#Show
ser2
#This will show you the rank used if you sort the series
ser2.rank()

0     1.0
1     4.0
2     7.0
3     5.0
4     8.0
5     6.0
6     2.0
7     3.0
8     9.0
9    10.0
dtype: float64

In [35]:
#Let's create a dataframe to work with
arr = np.array([[1,2,np.nan],[np.nan,3,4]])
dframe1 = DataFrame(arr,index=['A','B'],columns = ['One','Two','Three'])

#Show
dframe1
#A very useful feature is describe, which provides summary statistics
dframe1.describe()

/home/user/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       One       Two  Three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    NaN  2.250000    NaN
50%    NaN  2.500000    NaN
75%    NaN  2.750000    NaN
max    1.0  3.000000    4.0

In [38]:
## missing values
data = Series(['one','two', np.nan, 'four'])
#Find the missing values
data.isnull()
#We can simply drop the NAN 
data.dropna()
#We can also specify to only drop rows that are complete missing all data
data.dropna(how='all')
#We can also fill any NAN
data.fillna(1)

0     one
1     two
2       1
3    four
dtype: object